*{
    padding: 0;            
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    font-family: Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

header {
    display: flex; /* Resposável por colocar os itens na mesma linha (lado a lado) */
    align-items: center; /*Alinhar os itens do nosso Header para o centro*/
    justify-content: space-evenly; /* Tradução:justificar-conteúdo: espaço uniformemente. Alinhar os itens igualmente dentro da página */
    padding: 2%;  /* Cuida do Preenchimento */
    background-color: rgb(56, 49, 49); /* Cor de fundo do nosso Cabeçalho/Header */
    overflow: hidden; /* */
    
}

header > h1 {  /* Selecionamos aqui a cor da letra do nosso H1 ou seja, do nosso título */
  color: white; /* chamamos a propriedade color e definimos uma cor em questão */ 
  font-size: 45px;
}


header > img {  /* Aqui estamos chamando nossa imagem para ser atribuídas alterações*/
  width: 200px;  /* Largura da nossa imagem */
  height: 170px; /* Tamanho da nossa imagem */
}

#menu-header { /* Nosso menu de navegação*/
  display: flex; /* Resposável por colocar os itens na mesma linha (lado a lado) */
  align-items: center; /* Alinhar os itens do nosso Header para o centro */
}

#list-menu {  /* Nossa lista não ordenada, aqui mudaremos diretamente nossa lista */
  display: flex; /* Resposável por colocar os itens na mesma linha (lado a lado) */
  margin-right: 1rem; /* margem da direita. 1 REM equivale a 16px, ou seja podemos usa-lo para facilitar a inserção de PX*/
}

.item-menu-header { /* Nossas li que estão dentro do LIST MENU, onde se encontram os nomes dos itens apresentados no HEADER */
  margin-right: 25px; /* margem da direita */
}

.item-menu-header > a:hover { /* Nossas li que estão dentro do LIST MENU. (a) nossa tag de link que é representada por: HOME/PRODUTOS/CONTATO, e o Hover responsável pela modificação de cor ao passar o cursor em cima.*/
  color: yellow; /* Aqui atribuimos uma cor */
  transition: 1s; /* E o tempo em que será exibido ao passar o cursor */
}

.item-menu-header > a { /* Nossas li que estão dentro do LIST MENU. (a) nossa tag de link que é representada por: HOME/PRODUTOS/CONTATO */
  color: white; /* Cor das letras */
  text-decoration: none; /* Responsável por tirar o sublinhado inferior que estava visível */
  font-size: 12px; /* Tamanho da letra */
} 

#btn-header {   /*Nossa ID do Botão de Login */
  display: flex; /*  Resposável por colocar os itens na mesma linha (lado a lado) */
}

#produtos{
    background: linear-gradient(180deg, #d49664 8.33%, rgba(244, 200, 175, 0) 100%);
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
}

#produtos h2{
    margin-top: 5rem;
    margin-bottom: 40px;
}

#sessaoDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 20px 50px;
}


#sessaoDiv div img{
    width: 300px;
    height: 300px;
    border-radius: 50px;
}








footer {    /* */
    padding: 6%;  /* */
    background-image: url(img/img-footer.jpg);  /* */
    background-position: bottom;  /* */
    background-repeat: no-repeat;  /* */
    
}

footer > ul {   /* */
    display: flex;  /* */
    justify-content: space-evenly;  /* */
}

footer > h2 {  /* */
    color: black bold; /* */
    font-size: 40px;  /* */
    font-weight: bold;  /* */
    text-align: center;  /* */
    margin-bottom: 1em;  /* */
}

.item-menu-footer {  /* */
    display: flex;  /* */
    align-items: center;  /* */
    margin-top: 30px;  /* */
}

.item-menu-footer > img {  /* */
    width: 34px;  /* */
    height: 34px;  /* */
}

.item-menu-footer > p {  /* */
    color: black bold; /* */
    font-size: 24px; /* */
    font-weight: bold; /* */
    margin-left: 10px; /* */
}